div{
    background-color: crimson;
    padding: 50px;
    border-radius: 50px;
    margin: 30px;
}
h2{
    background-color: rgb(78, 207, 143);
    margin: 30px;
    text-align: center;
    padding: 30px;
    width: 400px;
    border-top-left-radius: 1000px;
    border-bottom-right-radius: 2000px;
}
p{
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 50px;
}
h3{
    background-color: rgb(140, 155, 72);
    margin: 30px;
    text-align: center;
    padding: 30px;
    width: 400px;
    border-radius: 50px;
}